<%- include('../partials/header') %>

<h2>Add a New Ticket</h2>
<form id="ticket-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?" title="Must be ‘A1’ thru ‘F99’">
  <label>Price: </label>
  <input type="number" name="price" min="0">
  <label></label>
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>